<h1>Q1.</h2>

In [24]:
#let's create a empty list
my_list = []


#let's add some values
my_list.append('Python')
my_list.append('is ok')
my_list.append('sometimes')

#let's remove 'sometimes'
my_list.remove('sometimes')

#let's change the second item
my_list[1] = 'is neat'


my_list

['Python', 'is neat']

In [10]:
import unittest

In [65]:
#let's verify that's  it is correct
#assert my_list == ['Python','is neat']

#class TestingList(unittest.TestCase):
#    def setUp(self):
#        self.expected = my_list
#        self.result = ['Python','is neat']
    
#    def test_list(self):
#        self.assertListEqual(self.expected, self.result,'test')
    
#if __name__ == '__main__':
#    unittest.main()

In [67]:
assert my_list == ['Python', 'is neat']

<h2>Q2.</h2>
Create a new list without modifying the original one.

In [27]:
original = ['I','am','learning','hacking','in']

In [28]:
#modified with out changing original list
modified = list(original)
modified

['I', 'am', 'learning', 'hacking', 'in']

In [63]:
#class TestingLists(unittest.TestCase):
    
#    def setUp(self):
#        self.expected = original
#        self.result = modified
    
#    def test_list(self):
#        self.assertListEqual(self.expected, self.result, 'test')
        
#if __name__ == '__main__':
#    unittest.main()

In [64]:
assert original == modified

<h1>Q4</h1>

In [40]:
words = ['PYTHON', 'JOHN' ,'data', 'Reva', 'Science', '2022'] 
upper_case_words= []

for word in words:
    if word.isupper():
        upper_case_words.append(word)
        
upper_case_words

['PYTHON', 'JOHN']

<h1>Q11</h1>

In [49]:
from collections import namedtuple

In [50]:
Car = namedtuple('Car', ['price', 'mileage', 'brand'])

In [51]:
new_car = Car(25000, 2000, 'BMW')

In [56]:
assert new_car.price == 25000

In [57]:
assert new_car.mileage == 2000

In [58]:
assert new_car.brand == 'BMW'

In [59]:
assert isinstance(new_car, tuple)

In [60]:
assert new_car[2]== 'BMW'

In [61]:
print('All Good')

All Good

<h1>Q9</h1>

In [76]:
class Dog:
    def __init__(self, energy = 10):
        self.cenergy = energy
        
    def bark(self):
        self.cenergy -= 1
    
    def sleep(self):
        self.cenergy += 2
    
    def get_energy(self):
        return self.cenergy

In [78]:
doge = Dog()

print(doge.get_energy())

assert doge.get_energy() == 10

10

In [79]:
doge.bark()
doge.bark()
doge.bark()
print(doge.get_energy())

assert doge.get_energy() == 7

7

In [80]:
doge.sleep()
print(doge.get_energy())

assert doge.get_energy() == 9

9

In [84]:
another_doge = Dog()

print(another_doge.get_energy())
assert another_doge.get_energy() == 10

10

<h1>Q3</h1>

In [92]:
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]

amar_list = list1 + list2 + list3
print(amar_list)

[6, 12, 5, 6.2, 0, 14, 1, 0.9]

In [94]:
amar_list.sort(reverse=True)
print(amar_list)

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

In [95]:
assert amar_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

<h1>Q7</h1>

Read the Supermarket.csv file and answer the following questions.
•	Top 5 product codes by Amount
•	Top 20 product codes by Receiving cash
•	Top 5 cashiers by received cash and bottom 5 cashiers by Amount
•	Product codes for which Amount is greater than average Received cash after 10th May 2018
•	Average daily sales Amount vs Maximum Daily Sales Amount.

<code>
    Product Code	Date	Amount	Received Cash	Cashier Name
Product code	Daily Date	Sales Amount	Cash Received	Agent Name
</code>

In [96]:
import pandas as pd

In [132]:
df1 = pd.read_csv('SuperMarket.csv')
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84881 entries, 0 to 84880
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductCode    84881 non-null  object
 1   Date           84881 non-null  object
 2   Amount         84881 non-null  float64
 3   Received Cash  84881 non-null  float64
 4   CashierName    84881 non-null  object
dtypes: float64(2), object(3)
memory usage: 3.2+ MB

In [111]:
#Top 5 product codes by Amount 
#df1.sort_values('Amount', inplace=False, ascending=False)['ProductCode']
df1.nlargest(5,'Amount')['ProductCode']

63647    LBVT18080025036
67998    LBVT18010014892
62403    LBVT18080024882
40077    LBVT18030059056
19598    LBVT18040056884
Name: ProductCode, dtype: object

In [103]:
#Top 20 product codes by Receiving cash 
df1.nlargest(20,'Received Cash')['ProductCode']

259      LBVT18020018893
13511    LBVT18010006703
37061    LBVT18030058152
45922    LBVT18040060825
21128    LBVT18030052980
6361     LBVT18040055285
49243    LBVT18010012166
50676    LBVT18030060779
64471    LBVT18010014525
3649     LBVT18020020161
29410    LBVT18020028100
26200    LBVT18040058343
24618    LBVT18010007878
8543     LBVT18030049469
14908    LBVT18020023748
12240    LBVT18030050501
75425    LBVT18030067525
15422    LBVT18020023881
23706    LBVT18030053779
23703    LBVT18030053776
Name: ProductCode, dtype: object

In [118]:
#top 5 cashiers by received cash and bottom 5 cashiers by Amount
nlargest5 = df1.nlargest(5,'Received Cash')['CashierName'].values
nsmallest5 =df1.nsmallest(5,'Amount')['CashierName'].values
print(nlargest5)
print(nsmallest5)

['ALE HUERTA' 'JUAN MARTIN' 'ALE HUERTA' 'MAYTE' 'ALE HUERTA']
['ALE HUERTA' 'JUAN MARTIN' 'JANET' 'ALE HUERTA' 'JUAN MARTIN']

In [131]:
#Product codes for which Amount is greater than average Received cash after 10th May 2018
new_df = df1.loc[df1['Date']>'10-05-2018 00:00']
new_avg = new_df['Amount'].mean()
(new_df.loc[new_df['Amount'] >new_avg])['ProductCode']

6039     LBVT18020020754
6040     LBVT18020020755
6043     LBVT18020020758
6045     LBVT18020020760
6046     LBVT18020020761
              ...
84829    LBVT18070002284
84832    LBVT18070002287
84859    LBVT18070002252
84860    LBVT18070002253
84861    LBVT18070002254
Name: ProductCode, Length: 17927, dtype: object

<h1>Q10</h1>

Create your first test case.

There is an implementation for the `get_divisible_by_five` function in the cell below. Your task is to create a test case for this function to verify that it works correctly.

In [134]:
def get_divisible_by_five(numbers):
    result=[]
    for numb in numbers:
        if numb % 5:
            result.append(numb)
    return result

In [138]:
import unittest

In [141]:
class TestingLists(unittest.TestCase):
    def test_list(self):
        result = get_divisible_by_five([5,20,16,19])
        self.assertTrue(len(result) > 0)
        
if __name__ == '__main__':
    unittest.main()

E
======================================================================
ERROR: C:\Users\JAYA_USER\AppData\Roaming\jupyter\runtime\kernel-bfcccf0d-b78a-49a1-a1a5-29fcccc46c72 (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute 'C:\Users\JAYA_USER\AppData\Roaming\jupyter\runtime\kernel-bfcccf0d-b78a-49a1-a1a5-29fcccc46c72'

----------------------------------------------------------------------
Ran 1 test in 0.002s

FAILED (errors=1)

SystemExit: True

C:\Users\JAYA_USER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

<h1>Q12</h1>

<code>
On Games
•	Write a function that accepts the name of a game and prints a statement such as, "I like playing chess!"
•	Give the argument a default value, such as `chess`.
•	Call your function at least three times. Make sure at least one of the calls includes an argument, and at least one call includes no arguments.
</code>

In [154]:
def print_game(name='chess'):
    print (f'I like playing : {name} !')

In [158]:
print_game('Football')

I like playing : Football !

In [159]:
print_game('Cricket')

I like playing : Cricket !

In [160]:
print_game()

I like playing : chess !

<h1>Q13</h1>

<code>
On Favourite Movie
•	Write a function that accepts the name of a movie, and prints a statement such as, "My favorite movie is The Princess Bride."
•	Give the argument a default value, such as `The Princess Bride`.
•	Call your function at least three times. Make sure at least one of the calls includes an argument, and at least one call includes no arguments.
</code>

In [164]:
def print_movie(name='The Princess Bride'):
    print (f'My favorite movie is : {name} !')

In [165]:
print_movie('Life of pie')

My favorite movie is : Life of pie !

In [166]:
print_movie('Jungle Book')

My favorite movie is : Jungle Book !

In [167]:
print_movie()

My favorite movie is : The Princess Bride !

<h1>Q14</h1>

<code>
Favorite Colors
•	Write a function that takes two arguments, a person's name and their favorite color. The function should print out a statement such as "Hillary's favorite color is blue."
•	Call your function three times, with a different person and color each time.
</code>

In [185]:
def Favorite_Color(color='Blue', name='Hillary'):
    print("{} favorite color is : {}!".format(name, color))

In [186]:
Favorite_Color('Red','Amar')

Amar favorite color is : Red!

In [187]:
Favorite_Color('Green','John')

John favorite color is : Green!

In [188]:
Favorite_Color()

Hillary favorite color is : Blue!